<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phunware.advertising.sample.rvisit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.phunware.advertising.sample.rvisit.MessagingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExampleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.phunware.advertising.internal.PwAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.phunware.advertising.sample.rvisit.ViewRewardsActivity" >
        </activity>

        <activity
            android:name="com.phunware.advertising.sample.rvisit.RewardActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="locationmessaging/message" />
            </intent-filter>
        </activity>


        <service android:name="com.phunware.advertising.sample.rvisit.RewardedVisitNotificationService" android:exported="false">
            <intent-filter>
                <action android:name="com.phunware.locationmessaging.EDIT_NOTIFICATION" />
            </intent-filter>
        </service>
        

        <meta-data android:name="com.phunware.APPLICATION_ID" android:value="@string/app_id" />
        <meta-data android:name="com.phunware.ACCESS_KEY" android:value="@string/access_key" />
        <meta-data android:name="com.phunware.SIGNATURE_KEY" android:value="@string/sig_key" />
        <meta-data android:name="com.phunware.ENCRYPTION_KEY" android:value="@string/encrypt_key" />

    </application>

</manifest>
